
/* 圆形 */
.circle {
  width: 100px;
  height: 100px;
  background: #e3211d;
  border-radius: 50%;
}

/* 三角 */
.triangle {
  width: 0;
  height: 0;
  border-top: 50px solid green;
  border-bottom: 50px solid #e3211d;
  border-left: 50px solid blue;
  border-right: 50px solid black;
}

/* 上三角 */
.triangle-up {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #e3211d;
}

/* 下三角 */
.triangle-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #e3211d;
}

/* 下三角 */
.triangle-left {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-right: 100px solid #e3211d;
  border-bottom: 50px solid transparent;
}

/* 下三角 */
.triangle-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 100px solid #e3211d;
}

/* 左上三角 */
.triangle-topleft {
  width: 0;
  height: 0;
  border-top: 100px solid #e3211d;
  border-right: 100px solid transparent;
}

/* 右上三角 */
.triangle-topright {
  width: 0;
  height: 0;
  border-top: 100px solid #e3211d;
  border-left: 100px solid transparent;
}

/* 左下三角 */
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 100px solid #e3211d;
  border-right: 100px solid transparent;
}

/* 右下三角 */
.triangle-bottomright {
  width: 0;
  height: 0;
  border-bottom: 100px solid #e3211d;
  border-left: 100px solid transparent;
}

/* 五角星 */
.star-five { 
  margin: 50px 0; 
  position: relative; 
  display: block; 
  color: red; 
  width: 0px; 
  height: 0px; 
  border-right: 100px solid transparent; 
  border-bottom: 70px solid red; 
  border-left: 100px solid transparent; 
  -moz-transform: rotate(35deg); 
  -webkit-transform: rotate(35deg); 
  -ms-transform: rotate(35deg); 
  -o-transform: rotate(35deg); 
  } 
  .star-five:before { 
  border-bottom: 80px solid red; 
  border-left: 30px solid transparent; 
  border-right: 30px solid transparent; 
  position: absolute; 
  height: 0; 
  width: 0; 
  top: -45px; 
  left: -65px; 
  display: block; 
  content: ''; 
  -webkit-transform: rotate(-35deg); 
  -moz-transform: rotate(-35deg); 
  -ms-transform: rotate(-35deg); 
  -o-transform: rotate(-35deg); 
  } 
  .star-five:after { 
  position: absolute; 
  display: block; 
  color: red; 
  top: 3px; 
  left: -105px; 
  width: 0px; 
  height: 0px; 
  border-right: 100px solid transparent; 
  border-bottom: 70px solid red; 
  border-left: 100px solid transparent; 
  -webkit-transform: rotate(-70deg); 
  -moz-transform: rotate(-70deg); 
  -ms-transform: rotate(-70deg); 
  -o-transform: rotate(-70deg); 
  content: ''; 
}

/* 爱心 */
.heart { 
  position: relative; 
  width: 100px; 
  height: 90px; 
  } 
  .heart:before, 
  .heart:after { 
  position: absolute; 
  content: ""; 
  left: 50px; 
  top: 0; 
  width: 50px; 
  height: 80px; 
  background: red; 
  -moz-border-radius: 50px 50px 0 0; 
  border-radius: 50px 50px 0 0; 
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  -ms-transform: rotate(-45deg); 
  -o-transform: rotate(-45deg); 
  transform: rotate(-45deg); 
  -webkit-transform-origin: 0 100%; 
  -moz-transform-origin: 0 100%; 
  -ms-transform-origin: 0 100%; 
  -o-transform-origin: 0 100%; 
  transform-origin: 0 100%; 
  } 
  .heart:after { 
  left: 0; 
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg); 
  -ms-transform: rotate(45deg); 
  -o-transform: rotate(45deg); 
  transform: rotate(45deg); 
  -webkit-transform-origin: 100% 100%; 
  -moz-transform-origin: 100% 100%; 
  -ms-transform-origin: 100% 100%; 
  -o-transform-origin: 100% 100%; 
  transform-origin :100% 100%; 
  }

/* 提示对话框 */

.talkbubble { 
  width: 150px; 
  height: 80px; 
  background: red; 
  position: relative; 
  -moz-border-radius: 10px; 
  -webkit-border-radius: 10px; 
  border-radius: 10px; 
  } 
  .talkbubble:before { 
  content:""; 
  position: absolute; 
  right: 100%; 
  top: 26px; 
  width: 0; 
  height: 0; 
  border-top: 13px solid transparent; 
  border-right: 26px solid red; 
  border-bottom: 13px solid transparent; 
  } 

/* 阴阳 */
.yin-yang { 
  width: 96px; 
  height: 48px; 
  background: #eee; 
  border-color: red; 
  border-style: solid; 
  border-width: 2px 2px 50px 2px; 
  border-radius: 100%; 
  position: relative; 
  } 
  .yin-yang:before { 
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: 0; 
  background: #eee; 
  border: 18px solid red; 
  border-radius: 100%; 
  width: 12px; 
  height: 12px; 
  } 
  .yin-yang:after { 
  content: ""; 
  position: absolute; 
  top: 50%; 
  left: 50%; 
  background: red; 
  border: 18px solid #eee; 
  border-radius:100%; 
  width: 12px; 
  height: 12px; 
  }